body{
  margin:0;
  font-family:sans-serif;
  background:#111;
  color:white;
  text-align:center;
}

.banner{
  height:160px;
  width:100%;
  background:linear-gradient(90deg,#6a5acd,#00bfff);
}

.card{
  margin-top:-70px;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  border:4px solid white;
}

input, textarea{
  display:block;
  margin:10px auto;
  padding:10px;
  width:250px;
}

button{
  padding:10px 20px;
}

.mod{
  display:block;
  margin:5px;
  color:gold;
  font-weight:bold;
}

.hidden{
  display:none;
}
